#start_design_btn{
  height: 120px;
  width: 190px;
  background-color: rgb(43, 166, 223);
  border-radius: 15%;
  font-size:31px
}
#open_design_btn{
  height: 120px;
  width: 190px;
  margin-left: 2rem;
  background-color: rgb(223, 43, 112);
  border-radius: 15%;
  font-size:31px
  
}
#start_design_btn:hover{
  background-color: rgb(74, 139, 165);
}

#open_design_btn:hover{
  background-color: rgb(165, 74, 112);
}


#start_desgin_dialouge{
  margin-left:30rem;
  margin-top:23rem;
  display: inline-flex;
  justify-content: space-evenly;
}



/*design page*/
#create_test{
  margin-left: 30rem;
}

.button_test{
  height: 120px;
  width: 190px;
  margin-left: 2rem;
  background-color: rgb(223, 43, 112);
  border-radius: 15%;
  font-size:31px
}

.popup_edit{
  height: 120px;
  width: 190px;
}

.popupTaskBar{
  height: 50px;
  width: 190px;
  background-color: grey;
  border-radius: 20%
}

#popupMainTab{
  height: 850px;
  width: 200px;
  background-color: rgb(211, 210, 211);
  border-width: 1px;
  border-style:dashed;
  border-color: black;
  border-radius: 2%;
  margin-left:72rem;
  margin-bottom: 2rem;
}

#Text-Img-Anchor{
  display: flex;
  flex-direction: wrap;
  justify-content: space-evenly;
}

#biginsert{
  height:70%
}

#insert-pic{
  height:40px;
  margin-top:3px
}

/* #Text-Img-Anchor{

} */

#hyper-link{
  height: 40px;
}


.inserted-img{
  height:40px !important;
  width:40px !important
}

#bigedit{
  display: block;
  flex-direction: column !important;
  border-spacing: 20px;
  margin-top:  20px;
  margin-left: 10px;
}

.div-edit-class{
  border-color:black;
}
.div-edit-class:hover{
  background-color: rgb(77, 77, 77);
}

#coloreditpopup{
  margin-right: 100px;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  position: absolute;
  border-radius:7%;
  background-color : rgb(208, 211, 212);
  border-width: 20px;
  border-color: black;
}

#submit-color{
  margin-left: 23px;
  margin-top: 30px;
  font-size: 20px;
  width: 150px;
  height : 40px;
  border-radius:7%
}

#insertnamewindow{
  display: block;
  flex-direction: column;
  align-items: center;
  border-color: black;
  background-color: rgb(228, 225, 226);
  border-width: 4px;
  border-color:black;
  padding : 10px 10px 10px 10px;
  font-size:15px;
  border-radius: 8%;
  position:absolute;
  margin-right:300px;
  margin-bottom:100px
}

#submit-name-btn{
  margin-left: 50px;
  margin-top: 10px;
  border-radius:8%;
  border-width: 4px;
  border-color:black
  
}

#size-incresementbox{
  background-color: rgb(177, 163, 169);
  padding:10px 10px 10px 10px;
  border-radius: 15%;
  position: absolute;
  margin-left: 50px;
  margin-top: 10px;
}